main{
    background-color: var(--principal-cor);
    padding: 5% 5%;
}
.hide{
    opacity: 0;
}
.pokedex img{
    background-color: blue;
}
.card{
    background-color: white;
    align-items: center;
    padding: 0 2%;
    transition: 1s ease-in;
    border-radius: 5%;
    box-shadow: 0 2px 10px 2px #00000010;
}
.card-principal{
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    color: var(--principal-fonte-cor);
}
.card-nome, .card-id, .card-tipo{
    text-align: center;
}
.card-nome{
    font-size: 3rem;
}
.card-nome::first-letter {
    text-transform: uppercase;
}
.card-tipo::first-letter {
    text-transform: uppercase;
}
.card-id, .card-tipo{
    padding-top: 5%;
    font-size: 1.5rem;
}
.card-img{
    width: 60%;
    display: block;
    margin: 0 auto;
    transition: 1s ease-in-out;
}

/* --------------------------- */
.card-stats{
    display: flex;
    flex-direction: column;
}
.stats-titulo{
    text-align: center;
    margin-bottom: 3%;
    font-size: 1.5rem;
    color: var(--principal-fonte-cor);
}
.stats-info-primario{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 5%;
}

.stats-info-secundario{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 3%;
}
.stats{
    text-align: center;
}
.stats-numero{
    background-color: var(--cabecalho-cor);
    border-radius: 100%;
    /* 3.125rem - referencia 50px */
    width: 3.125rem; 
    height: 3.125rem;
    font-size: 1.5rem;
    line-height: 2;
    margin: 0 auto;
}
.stats-nome{
    margin-top: 5%;
    color: var(--principal-fonte-cor);
}

.card-erro{
    font-size: 12rem;
    text-align: center;
    color: (--cabecalho-cor);
}
