.rodape{
    background-color:var(--rodape-cor);
    padding: 10% 0;
}
.pokemon-logo{
    width: 50%;
}
.rodape__social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
}
.rodape__midia{
    margin: 0 5%;
}